APP_NAME=Canteen Backend
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
JWT_SECRET_KEY=change_this_to_long_random_secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480
DEFAULT_MEAL_IMAGE_URL=/static/default-meal.png
DATABASE_URL=mysql+pymysql://canteen:change_me@127.0.0.1:3306/canteen_db?charset=utf8mb4

